*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

#logo{
    max-width: 90px
}

#menu{
    background-color: rgb(233, 159, 173);
}

#navegacion li a{
    font-weight: 500;
    color: white;
}

.inicio{
    height: 100vh;
    background-image: url(../images/floreria-haciendo-arreglo-floral-tienda-flores_53876-34631.jpg);
    background-size: cover;
}

.inicio-titulo{
    color: white;
    margin-top: 50%;
}

.eventos img{
    display: inline-block;
    max-width: 250px;
}

.flores img{
    display: inline-block;
    max-width: 150px;
    border-radius: 15px;
}

#carouselExampleIndicators .carousel-item {
    /*Color de fondo para los .carousel-item*/
    background-color: #f8f9fa; 
    /*Hacer la transición más rápida con .4s, el valor por defecto es .6s*/
    transition: opacity .4s ease-in-out; 
}

.paquetes img{
    display: inline-block;
    max-width: 250px;
}

#redesSociales{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#redesSociales li{
    list-style: none;
    margin: 10PX;
    padding-top: 30px; 
}

#redesSociales li a i{
    filter:grayscale(1) ;
}