*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

#logo{
    max-width: 90px
}

#menu{
    background-color: rgb(233, 159, 173);
}

#menu li a{
    font-weight: 500;
    color: white;
}

.inicio{
    background-image: url(../images/floreria-haciendo-arreglo-floral-tienda-flores_53876-34631.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.inicio-titulo{
    color: white;
    margin-top: 50%;
    text-align: center;
    padding: 20px;
}

.eventos img{
    max-width: 250px;
    border-radius: 15px;
}

.flores img{
    max-width: 150px;
    border-radius: 15px;
}

#carouselExampleIndicators .carousel-item {
    /*Color de fondo para los .carousel-item*/
    background-color: #f8f9fa; 
    /*Hacer la transición más rápida con .4s, el valor por defecto es .6s*/
    transition: opacity .4s ease-in-out; 
}

.paquetes img{
    max-width: 250px;
}

footer{
    background-color: #af07b1;
    text-align: center;
    color: white;
    padding: 10px;
}

footer img{
    max-width: 150px;
}

#redesSociales li a i{
    color: white;
}

#redesSociales li a i:hover {
    color: #f8b5c9;
}